/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
  font-family: 'Abel', sans-serif;
}

p {
	text-align: center;
	color: grey;
	width: 80%;
	margin: auto;
	font-size: 1.1em;
	line-height: 1.35em;
	width: 86%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 1.7em;
}

h2 {
	text-align: center;
	font-size: 1.5em;
}

img {
	max-width: 100%;
}

.name,
.main-nav {
	font-family: "Muli", sans-serif;
}

.logo {
	width: 70%;
}

.container,
.banner {
	text-align: center;
}

.col {
	padding-left: 1em;
	padding-right: 1em;
}
