/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
  font-family: 'Abel', sans-serif;  /* === google font 1 === */
	text-align: center;
}

p {
	text-align: center;
	color: grey;
	width: 80%;
	margin: auto;
	font-size: 1.05em;
	line-height: 1.35em;
	width: 90%;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.30em;
	letter-spacing: .07em;
	padding-top: 15px;
}

img {
	max-width: 100%;
	padding-top: 25px;
}

section {
	font-family: 'Muli', sans-serif;    /* === google font 2 === */
	padding: 80px 0 60px 0;
}

footer {
	font-family: 'Muli', sans-serif;    /* === google font 2 === */
	width: 90%;
	border-top: lightgrey solid 1px;
	margin: 0 auto;
}

/* ==== Link Styling ====*/
a {
	text-decoration: none;
	color: black;
}

a:hover {             /* ===== added hover state to links =====*/
	color: #052EFE;
}

/* ==== Section Styling ==== */
.name {
	padding: 20px 0;
}
.name,
.main-nav {
	font-family: 'Muli', sans-serif;    /* === google font 2 === */
}

.main-nav li {
	padding: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.logo {
	width: 70%;
	padding-bottom: 12px;
}

.container {
	padding-bottom: 20px;
}

.banner {
	padding: 30px 0;
	background-color: lightblue;
}

.bannerspeak {
	color: black;
}

.col {
	padding-left: 1em;
	padding-right: 1em;
}

.phone {
	padding: 30px 0 10px 0;
}

.footname {
display: inline-block;
margin-right: 50px;
font-size: 1em;
}

.footlist {
	display: inline-block;
	margin-left: 30px;
}

.bigfoot {
	display: none;
}

/* ======== Media Queries ======== */

@media (min-width)
