/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
  font-family: 'Abel', sans-serif;  /* === google font 1 === */
	text-align: center;
	color: grey;
	font-size: 1.05em;
	line-height: 1.35em;
}

header {
	font-weight: bold;
	padding: 20px 0;
}
/*header,
footer {
	background-color: lightblue;
	color: black;
}*/

h1 {
	font-size: 1.5em;
	color: black;
}

h2 {
	font-size: 1.20em;
	letter-spacing: .07em;
	padding-top: 15px;
	color: black;
}

img {
	max-width: 100%;
	padding-top: 25px;
}

.banner,
main,
section {
	width: 90%;
	margin: 0 auto;
}

main {
	padding: 20px 0 10px 0;
}

section {
	border-bottom: lightgrey solid 1px;
	padding: 40px 0;
}

/* ==== Link Styling ====*/
a {
	text-decoration: none;
	color: black;
}

a:hover {        /* ===== added hover state to links =====*/
	color: #052EFE;
}

/* ==== Section Styling ==== */

.name {
	padding-bottom: 20px;
}

.name,
.main-nav,
section,
footer {
	font-family: 'Muli', sans-serif;
	color: black;    /* === google font 2 === */
}

.main-nav li {
	padding: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.logo {
	width: 70%;
}

.footname {
display: inline-block;
margin-right: 60px;
font-size: 1em;
}

.footlist {
	display: inline-block;
	font-weight: bold;
}

.bigfoot {
	display: none;
}

 /*======== Media Queries ======== */

@media (min-width: 768px) {

	header {
		padding: 40px 0 20px 0;
	}
	.main-nav li {
		display: inline-block;
	}

/* ====================== */

	.banner {
		height: 220px;
		padding: 15px 0;
		font-size: 1.35em;
		text-align: left;
	}
	.logo {
		float: right;
		width: 40%;
		padding: 0;
		margin-left: 3%;
	}

/* ======================  */

	main p {
		padding: 0 20px;
	}
	.one,
	.three,
	.five {
	float: left;
	width: 48.5%;
	}

	.two,
	.four,
	.six {
		float: right;
		width: 48.5%;
	}

/* ========================== */

	footer {
		height: 100px;
	}

	.footname {
		margin-right: 300px
	}

	.backtotop {
		display: none;
	}

	.bigfoot {
		display: inline-block;
		padding: 10px;
	}

/*==================== Float Clearfix ========================*/
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {

	.name {
		padding: 13px 0;
		float: left;
	}

	.banner {
		height: 290px;
	}
	.main-nav {
		float: right;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.portfolio {
		padding-bottom: 20px;
	}



}
